*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #222;
	font-family: Verdana;
	font-size: 100%;
	color: #fff;
}
.container{
	width: 1200px;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
}
nav{
	width: 300px;
	height: 500px;
	background-color: #555;
	box-sizing: border-box;
	padding: 10px;
	float: left;
}
section{
background-color: #fff;
color: #333;
width: 870px;
height: 500px;
margin-left: 10px;
padding: 10px;
float: left;
}
ul.menu{
	list-style: none;
}
ul.menu li{
	width: 250px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	padding-left: 10px;
	background-color: #777;
	cursor: pointer;
}
ul.menu li:hover{
	background-color: #888;
}
.btn{
	width: 120px;
	height: 30px;
	border: 1px solid #ddd;
}
.salvar{
	background-image: url(../IMG/salvar.png);
	background-repeat:no-repeat;
	background-position: 10% 50%;
	background-size: 20px;
	background-color: #9BCD9B;
	color: #fff;
	cursor: pointer;
}
.limpar{
	background-image: url(../IMG/limpar.png);
	background-repeat: no-repeat;
	background-position: 10% 50%;
	background-size: 20%;
	background-color: #009ACD;
	color: #fff;
	cursor: pointer;
}
.excluir{
	background-image: url(../IMG/excluir.png);
	background-repeat: no-repeat;
	background-position: 10% 50%;
	background-size: 20%;
	background-color: #FF4040;
	color: #fff;
	cursor: pointer;
}
.campo{
	width: 200px;
	height: 30px;
	border-radius: 3px;
	margin-top: 5px;
	border: 1px solid #ddd;

}